* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
background-color: #6432C9;
background-attachment: fixed;
background-size: cover;
}

.main-container {
	min-height: calc(100vh - 136px);
}

table {
	width: 100%;
	text-align: center;

}
.header1{
	text-align:center;
}



.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #E1CDFF;
    color:dark;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color:rgb(203, 239, 209);
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color:white;
}



.styled-table th,
.styled-table td {
    padding: 12px 15px;
}



footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}